@{
    ViewBag.TItle = "Credits";
}
<style>
    .info-row {
        margin: 60px;
    }

    #about-row {
        margin: 30px 30px 0px 30px;
    }

    #video2 {
        margin: 30px 300px 0px 300px;
    }
</style>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<br />
<div>
    <h1 class="title text-center" style="color:floralwhite; font-family :Broadway">Harmony Credits Page</h1>
</div>
<hr />
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<br />
<div class="row">
    <div class="col-lg-4"></div>

    <div class="text-center">
        <img class="d-block w-100" src="~/pacificwhaleslogo.png" alt="First slide" style="max-width: 450px;">
    </div>
    <div class="col-lg-4"></div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <br />
</div>
<div class="row" id="about-row">
    <h2 class="title text-center" style="font-size: 36px; font-family:Arial; color: beige">Why WE Start Harmony?</h2>
    <br />
    <p class="jumbotron" style="font-size: 20px; color:black">
        As a team, we all happened to have some musicain friends and heard they are trying to look for jobs throught different sites. We thought we could definitely come up something to help our musicians friends to find good gigs based at Monmouth/Salem area. Here comes Harmony. This is like a dating based App, Venue owners are able to create a show and look up a musician, for musicians, vice versa. We believe Harmony will provide a smooth booking process and aids venue owners and musicians in discovering one another. Unlike other booking websites, Harmony will be truly a representative of, and useful to, independent musicians in the Monmouth/Salem area.
    </p>
</div>

<div class="row" id="about-row">
    <h2 class="title text-center" style="font-size: 36px; font-family:Arial; color: beige">Team and Team members</h2>
    <p></p>
    <p></p>
    <p class="jumbotron" style="font-size: 20px; color:black">
        We named our Team as Pacific Whales.
        Team members: Louis Law, Nicocle M. Geiger, Penny Yang
    </p>
</div>

<div class="row" id="about-row">
    <h2 class="title text-center" style="font-size: 36px; font-family:Arial; color: beige">When and Where we started Harmony?</h2>
    <br />
    <p class="jumbotron" style="font-size: 20px; color:black">
        460-462 Software Engineering I, II and III, Senior Capstone course and Harmony.
        We started our fisrt sprint on 02/19/2020 Winter 2020.
        We work together as a team and normally meet at Western Oregon University Computer Science Department or Library to plan our meetings and collaborate on coding. We also work remotely.
    </p>
</div>

<div class="row" id="about-row">
    <h2 class="title text-center" style="font-size: 36px; font-family:Arial; color: beige">Git Repository</h2>
    <br />
    <br />
    <p class="jumbotron" style="font-size: 20px; color:black">
        https://github.com/lawlouis/seniorproject-PacificWhales
    </p>
</div>

<div class="row" id="about-row">
    <h2 class="title text-center" style="font-size: 36px; font-family:Arial; color: beige">Technologies Applied</h2>
    <br />
    <p class="jumbotron" style="font-size: 20px; color:black">
        Asp.Net MVC5, Azure, Microsoft SQL Server Management, Git Bash, Discord, Slack, Zoom, Pivotal Tracker, Google Calendar API, Facebook API.
    </p>
</div>

<div class="row" id="about-row">
    <h2 class="title text-center" style="font-size: 36px; font-family:Arial; color: beige">Languages Applied</h2>
    <br />
    <br />
    <p class="jumbotron" style="font-size: 20px; color:black">
        C#, SQL, JavaScript, Html, CSS, Bootstrap4 Library
    </p>
</div>

<div class="row" id="about-row">
    <h2 class="title text-center" style="font-size: 36px; font-family:Arial; color: beige">SDLC </h2>
    <br />
    <p class="jumbotron" style="font-size: 20px; color:black">
        SDLC is the abbreviation of Software Development Life Cycle.
        We're applying DAD(Disciplined Agile Dilivery), Scrum as an agile process frameworkin Harmony.
    </p>
</div>

<div class="row" id="about-row">
    <h2 class="title text-center" style="font-size: 36px; font-family:Arial; color: beige">Highlights </h2>
    <br />
    <br />
    <p class="jumbotron" style="font-size: 20px; color:black">
        Hightlight form Louis: Never stop exploring!
    </p>
    <br />
    <br />
    <p class="jumbotron" style="font-size: 20px; color:black">
        Hightlight form Nicole: Working Hard and Dedicated!
    </p>
    <br />
    <p class="jumbotron" style="font-size: 20px; color:black">
        Hightlight form Penny: Enjoy Teamwork and all the great time with me teammates!
    </p>
</div>


