@{
    ViewBag.TItle = "Credits";
}
<style>
    .info-row {
        margin: 60px;
    }

    #about-row {
        margin: 30px 30px 0px 30px;
    }

    #video2 {
        margin: 30px 300px 0px 300px;
    }
</style>

<div>
    <h1 class="title text-center" style="color:floralwhite; font-family :Broadway">Harmony Credits Page</h1>
</div>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="text-center">
            <img class="rounded mx-auto d-block w-100" src="~/pacificwhaleslogo.png" alt="First slide" style="max-width: 450px;">
        </div>
        <br />
        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">Why WE Start Harmony?</h2>
                <p class="lead">As a team, we all happened to have some musicain friends and heard they are trying to look for jobs throught different sites. We thought we could definitely come up something to help our musicians friends to find good gigs based at Monmouth/Salem area. Here comes Harmony. This is like a dating based App, Venue owners are able to create a show and look up a musician, for musicians, vice versa. We believe Harmony will provide a smooth booking process and aids venue owners and musicians in discovering one another. Unlike other booking websites, Harmony will be truly a representative of, and useful to, independent musicians in the Monmouth/Salem area.</p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">Team and Team members</h2>
                <p class="lead">
                    We named our Team as Pacific Whales.
                    Team members: Louis Law, Nicocle M. Geiger, Penny Yang
                </p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">When and Where we started Harmony?</h2>
                <p class="lead">
                    460-462 Software Engineering I, II and III, Senior Capstone course and Harmony.
                    We started our fisrt sprint on 02/19/2020 Winter 2020.
                    We work together as a team and normally meet at Western Oregon University Computer Science Department or Library to plan our meetings and collaborate on coding. We also work remotely.
                </p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">Git Repository</h2>
                <p class="lead">
                    <a href="https://github.com/lawlouis/seniorproject-PacificWhales" target="_blank">seniorproject-PacificWhales</a>
                </p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">Technologies Applied</h2>
                <p class="lead">
                    Asp.Net MVC5, Azure, Microsoft SQL Server Management, Git Bash, Discord, Slack, Zoom, Pivotal Tracker, Google Calendar API, Facebook API.
                </p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">Languages Applied</h2>
                <p class="lead">
                    C#, SQL, JavaScript, Html, CSS, Bootstrap4 Library
                </p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">SDLC</h2>
                <p class="lead">
                    SDLC is the abbreviation of Software Development Life Cycle.
                    We're applying DAD(Disciplined Agile Dilivery), Scrum as an agile process frameworkin Harmony.
                </p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-4">Highlights</h2>
                <p class="lead">
                    Hightlight form Louis: Never stop exploring!
                </p>
                <p class="lead">
                    Hightlight form Nicole: Working Hard and Dedicated!
                </p>
                <p class="lead">
                    Hightlight form Penny: Enjoy Teamwork and all the great time with me teammates!
                </p>
            </div>
        </div>
    </div>
</div>




