
@{
    ViewBag.Title = "ErrorPage";
}
<br/>
<br />
<br />
<br />
<br />

<h4 class="jumbotron, text-center" style="font-size:x-large;color:darkorange">
    Hmmm...can’t reach this page, I think you got lost!</h4>

    <p class="jumbotron, text-center" style="font-size:x-large;color:darkorange">
        Don't Worry, Be Happy.
        <br />
        Music Heal the World. We're Always Together!
    </p>

    <p class="jumbotron; text-center">
        @Html.ActionLink("Let's get back to Harmony", "index", "Home")

    </p>
  
        <div class="text-center">
            <div>
                <img src="~/happy.jpg" id="musicianprofilepic" />
            </div>
        </div>



