
@{
    ViewBag.Title = "ErrorPage";
}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <br />
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Hmmm...can’t reach this page, I think you got lost!</h1>
                    <p class="lead">
                        Don't Worry, Be Happy.
                    </p>
                    <p class="lead">
                        Music Heal the World. We're Always Together!
                    </p>
                    <p class="lead">
                        @Html.ActionLink("Let's get back to Harmony", "index", "Home")
                    </p>
                    <div class="text-center">
                        <div>
                            <img src="~/happy.jpg" id="musicianprofilepic" class="d-block mx-auto" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        


