
@{
    ViewBag.Title = "Harmony";
}
<br />
<br />
<br />
<br />
<br />
<div class="jumbotron">
    <h4 class="text-center" style="font-size:x-large;color:darkorange">
        Hmmm...can’t reach this page, I think you got lost!
    </h4>

    <p class="text-center" style="font-size:x-large;color:darkorange">
        Don't Worry, Be Happy.
        <br />
        Music Heal the World. We're Always Together!
    </p>
</div>
<p class="jumbotron; text-center" style="font-size:x-large;color:darkorange">
    @Html.ActionLink("Let's get back to Harmony", "index", "Home")

</p>

<div class="text-center">
    <div>
        <img src="~/happy.jpg" id="musicianprofilepic" />
    </div>
</div>



