@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid" id="bkimage">

    <div>
        <h1 class="title text-center" style="color:floralwhite">Harmony--Gig booking made easy!</h1>
        <h2 class="text-center" style="color:floralwhite">Connect with venue owners, book more gigs and grow your career(Salem Oregon).</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3 text-center box1">
                <strong class="block btn-label ">I'm a musician</strong>
                <span class="cta-li-block block pad-tb half">
                    <ul style="color:floralwhite">
                        <p>More Gigs</p>
                        <p>Industry Exposure</p>
                        <p>Professional EPK</p>
                        <p>Network with Other Musicians</p>
                    </ul>
                </span>
                <a class="btn btn-primary" href="~/Account/Register" title="Register">Get started</a>
            </div>

            <div class="col-lg-3 text-center box1">
                <strong class="block btn-label ">I'm a musician</strong>
                <span class="cta-li-block block pad-tb half">
                    <ul style="color:floralwhite">
                        <p>Book Talented Musicians</p>
                        <p>Advertise Playing Opportunities</p>
                        <p>Promote My Venues</p>
                        <p>Share Good Musics</p>
                    </ul>
                </span>
                <a class="btn btn-primary" href="~/Account/Register" title="Register">Get started</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3 text-center box1">
                <strong class="block btn-label ">Post an Event</strong>
                <span class="cta-li-block block pad-tb half">
                    <ul style="color:floralwhite">
                        <p>Share Good Events</p>
                        <p>Industry Exposure for Bands</p>
                        <p>Cultural Exchange</p>
                        <p>Music and Venue Networks</p>
                    </ul>
                </span>
                <a class="btn btn-primary" href="~/Account/Register" title="Register">Get started</a>
            </div>

            <div class="col-lg-3 text-center box1">
                <strong class="block btn-label ">Last Minute Call</strong>
                <span class="cta-li-block block pad-tb half">
                    <ul style="color:floralwhite">
                        <p>Pick Up Shows on the Same Day</p>
                        <p>Good Gigs</p>
                        <p>Promote Venues</p>
                        <p>Share Good Musics</p>
                    </ul>
                </span>
                <a class="btn btn-primary" href="~/Account/Register" title="Register">Register</a>
            </div>
        </div>
    </div>
</div> 

@section scripts
{
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">}