<style>
    #form-title {
        margin-left: 20px;
        padding-top: 20px;
    }

    .form-group {
        margin-left: 20px;
        padding: 20px;
    }

    #radio-text {
        margin-top: 20px;
    }

    .form-check {
        margin: 20px 0 0 20px;
    }
</style>


<!-- Search form -->
<div class="row">
    <div class="col-8 offset-2 shadow p-3 mb-5 bg-white rounded" style="margin-top: 40px;">
        <h3 id="form-title">Search for other users</h3>
        <hr />

        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
    <div class="form-group">
        <div class="row">
            <div class="col-4">
                <form>
                    <input class="form-control" type="text" placeholder="Search"
                           aria-label="Search" id="search" name="search">
                </form>
                <br />
                <div class="row" id="radioBtnList">
                    <p id="radio-text">Search for: </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="searchOption" id="musician-radio" runat="server" value="option1" checked>
                        <label class="form-check-label" for="musician">Musicians</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="searchOption" id="venue-radio" runat="server" value="option2">
                        <label class="form-check-label" for="venue">Venues</label>
                    </div>

                    <div class="col-2" style="margin-left: 20px; margin-top: 20px;">
                    </div>

                </div>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-orange">Search</button>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-secondary" id="filter_btn">Filter</button>
            </div>
            <div class="col-3" id="filters">
                <div class="row form-check">
                    <input class="form-check-input" type="checkbox" id="city-check" value="cityFilter" />
                    <label class="form-check-label" for="city">City</label>
                    <br />
                    <input class="form-check-input" name="cityFilter" type="text" id="city" />
                    <br />
                </div>
                <div class="row form-check">
                    <input class="form-check-input" type="checkbox" id="state-check" value="stateFilter" />
                    <label class="form-check-label" for="state">State</label>
                    <br />
                    <input class="form-check-input" name="stateFilter" type="text" id="state" />
                </div>
            </div>
            <div class="col-1" id="musician-filters">
                <div class="row form-check">
                    <input class="form-check-input" type="checkbox" id="genre-check" value="genreFilter" />
                    <label class="form-check-label" for="genre">Genre</label>
                    <br />
                    <input class="form-check-input" name="genreFilter" type="text" id="genre" />
                </div>
            </div>
        </div>

        

        
    </div>
        }
        <script>
            $().ready(function () {
                $('#filters').hide();
                $('#musician-filters').hide();
            })
            $('#filter_btn').click(function () {
                $('#filters').show();
                if (document.getElementById('musician-radio').checked) {
                    $('#musician-filters').show();
                }
                else {
                    $('#musician-filters').hide();
                }
                $('#city').hide();
                $('#state').hide();
                $('#genre').hide();
            })
            $('#city-check').change(function () {
                if (this.checked) {
                    $('#city').show();
                }
                else {
                    $('#city').hide();
                    $('#city').val('');
                }
            })
            $('#state-check').change(function () {
                if (this.checked) {
                    $('#state').show();
                }
                else {
                    $('#state').hide();
                    $('#state').val('');
                }
            })
            $('#genre-check').change(function () {
                if (this.checked) {
                    $('#genre').show();
                }
                else {
                    $('#genre').hide();
                    $('#genre').val('');
                }
            })
            $(document.getElementById('musician-radio')).change(function () {
                $('#filters').hide();
                $('#musician-filters').hide();
            })
            $(document.getElementById('venue-radio')).change(function () {
                $('#filters').hide();
                $('#musician-filters').hide();
            })
        </script>
    </div>
</div>
