@{
    ViewBag.TItle = "Welcome";
}
<style>
    .info-row {
        margin: 60px;
    }

    #about-row {
        margin: 60px 30px 0px 30px;
    }
</style>

<div class="jumbotron text-center">
    <h1 style="margin-top: 60px; margin-bottom: 60px;">Welcome to Harmony</h1>
</div>

<div class="row" id="about-row">
    <h2>What Now?</h2>
    <p>Here's a summary of our features. We recommend you start by editting your profile. Then, search
    for other users to find someone to book a show with. The more shows you book with us, the better
    recommendations we can give to you. Want to host a music festival? Maybe a community get-together?
    Post an event, and check out other events in your area while you're at it.</p>
</div>
<hr />
<div class="row shadow p-3 mb-5 bg-white rounded info-row">
    <h4>Edit Your Profile</h4>
    <p>
        Edit your profile so other users can learn more about you. Filling out
        every section of your profile will increase your chances of booking a
        show with someone.
    </p>
</div>
<div class="row shadow p-3 mb-5 bg-white rounded info-row">
    <h4>Search for Other Users</h4>
    <p>
        Search for musicians and venues in your area. You can filter the results
        to find exactly what you're looking for. Find someone you want to work with?
        View their profile and click the "book show" button to send them a booking
        request.
    </p>
</div>
<div class="row shadow p-3 mb-5 bg-white rounded info-row">
    <h4>Browse Your Reccomendations</h4>
    <p>
        We tailor our reccomendations to you. We reccomend people similar to who you've
        booked shows with before so you don't have to spend your time searching.
    </p>
</div>