@{
    ViewBag.TItle = "Welcome";
}

<div class="jumbotron text-center">
    <h1 style="margin-top: 60px;">Welcome to Harmony</h1>
</div>

<div class="row">
    <div class="col-3 shadow p-3 mb-5 bg-white rounded">
        <h4>Edit Your Profile</h4>
        <p>
            Edit your profile so other users can learn more about you. Filling out
            every section of your profile will increase your chances of booking a
            show with someone.
        </p>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h4 class="card-title">Search</h4>
        <p class="card-text">
            Search for musicians and venues in your area. You can filter the results
            to find exactly what you're looking for. Find someone you want to work with?
            View their profile and click the "book show" button to send them a booking
            request.
        </p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h4 class="card-title">Reccomendations</h4>
        <p class="card-text">
            We tailor our reccomendations to you. We reccomend people similar to who you've
            booked shows with before so you don't have to spend your time searching.
        </p>
    </div>
</div>