@using Microsoft.AspNet.Identity
@using Harmony.DAL
@using Harmony.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.Display("Hello " + User.Identity.Name + "!")</li>
        <li>
            @Html.ActionLink("My Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" , @class = "btn btn-skyblue napa-navbar-join"})
        </li>
        <li><a id="navbar-login-desktop" class="btn btn-skyblue napa-navbar-join" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li><a id="navbar-login-desktop" class="btn btn-skyblue my-2 my-sm-0" href="~/Account/Login" title="Login">Log in</a></li>
</ul>
}
