@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" , @class = "btn btn-primary napa-navbar-join"})
        </li>
        <li><a id="navbar-login-desktop" class="btn btn-primary napa-navbar-join" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <a id="navbar-login-desktop" class="btn btn-primary napa-navbar-join" href="~/Account/Login" title="Login">Log in</a>
    <a id="navbar-login-desktop" class="btn btn-primary napa-navbar-join" href="~/Account/Register" title="Register">Register</a>
</ul>
}
