body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(../musicbk.jpg);
    background-color:transparent:!important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#login-link{
    color: white;
}

#register-link {
    color: white;
}

.h1.title {
    font-size: 30px;
    font-family:'Informal Roman';
    color:white;
}

.h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Informal Roman';
    color: white;
}

.box1 {
    box-sizing: content-box;
    width: 400px;
    height: 300px;
    padding: 30px;
    border: 5px solid white;
}

#bkimage {
    background-image: url(../musicbk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding:0;
}