body, html {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-image: url(../musicbk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.85;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#login-link{
    color: white;
}

#register-link {
    color: white;
}

.h1.title {
    font-size: 20px;
    font-family:'Informal Roman';
    color:white;

}

.h2 {
    display: block;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Informal Roman';
    color: white;
}

.box1 {
    box-sizing: content-box;
    width: 400px;
    height: 300px;
    padding: -30px;
    border: 2px solid white;
}

#bkimage {
    /*
    background-image: url(../musicbk.jpg);
        */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.black-font{
    color: black;
}

#bi {
    background-image: url(../musicbk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.85;
    height: 100%;
}


nav {
    background-color: transparent;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: deepskyblue;
}

.nav-link:hover {
    color: deepskyblue;
}

.btn-outline-light{
    border-color: deepskyblue;
    color: deepskyblue;
}

.btn-outline-light:hover {
    background-color: deepskyblue;
    color: white;
}

#musicianprofilepic {
    background-image: url(../singer.jpg);
    max-width: 500px;
    max-height: 500px;
}
#venuepic {
    background-image: url(../venue.jpg);
    max-width: 500px;
    max-height: 500px;
}

#venueprofile {
    border: 1px dotted black;
    padding: 10px;
    background-color: lavender;
    background-clip: content-box;
}

#musicianprofile {
    border: 1px dotted black;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    background-clip: content-box;
}
#video2 {
    margin: 30px 300px 0px 300px;
}