body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background: linear-gradient(to bottom right, navy, deepskyblue, aqua) no-repeat center fixed;
    opacity: 0.85;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#login-link{
    color: white;
}

#register-link {
    color: white;
}

.black-font{
    color: black;
}
#navdesign{
    
}
nav {
    background-color: lightsalmon;
    opacity: 0.9;
    border-bottom: ridge;
}

.nav-link {
    color: white;
}

.navbar-brand {
    font-size: x-large;
    font-family: Impact;
    color: aqua;
}

.nav-link:hover {
    color: lightskyblue;
}

.btn-skyblue{
    background-color: deepskyblue;
    color: white;
}

.btn-skyblue:hover {
    background-color: lightskyblue;
    color: white;
}

.btn-orange {
    background-color: darkorange;
    color: white;
}

.btn-orange:hover {
    background-color: coral;
    color: white;
}

#musicianprofilepic {
    background-image: url(../singer.jpg);
    max-width: 500px;
    max-height: 500px;
}
#venuepic {
    background-image: url(../venue.jpg);
    max-width: 500px;
    max-height: 500px;
}

#venueprofile {
    border: 1px dotted black;
    padding: 20px;
    background-color: lavender;
}

#musicianprofile {
    border: 1px dotted black;
    padding: 20px;
    background-color: lightgoldenrodyellow;
}
#loginpic {
    border: 1px dotted black;
    padding: 1px;
    width:300px;
    height:300px

}
#myprofile {
    border: 1px dotted black;
    padding: 20px;
    background-color: whitesmoke;
}

