@{
    ViewBag.Title = "About";
}

<div class="jumbotron" style="background-color: cornflowerblue; color: white; margin-top: 20px;">
    <div class="container-fluid">
        <h1>About us</h1>
    </div>
</div>
<hr />
<h3>Our story</h3>
<p>
    We made this application in order to lorem ipsum dolor sit amet consectetur adipiscing elit massa sagittis,
    habitasse pulvinar tincidunt lacinia elementum tristique neque sollicitudin,
    magna vulputate ridiculus faucibus mus mattis facilisis curae. Interdum lacus
    integer posuere nascetur vestibulum etiam commodo, placerat imperdiet aliquam
    auctor dignissim nulla varius facilisi, conubia lacinia tempus mus malesuada orci.
    Interdum lacus integer posuere nascetur vestibulum etiam commodo, placerat imperdiet aliquam
    auctor dignissim nulla varius facilisi, conubia lacinia tempus mus malesuada orci.<br />
</p>

<div class="text-center font-weight-light">
    <img src="https://github.com/lawlouis/seniorproject-PacificWhales/blob/dev/Milestone%203/class_project/Content/Images/swimmer.jpg?raw=true" class="img-fluid" alt="Responsive image" style="height: 80%; width: 80%;">
    <p>Onubia lacinia tempus mus malesuada orci</p>
</div>

<p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit massa sagittis,
    habitasse pulvinar tincidunt lacinia elementum tristique neque sollicitudin,
    magna vulputate ridiculus faucibus mus mattis facilisis curae. Interdum lacus
    integer posuere nascetur vestibulum etiam commodo, placerat imperdiet aliquam
    auctor dignissim nulla varius facilisi, conubia lacinia tempus mus malesuada orci.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit massa sagittis,
    habitasse pulvinar tincidunt lacinia elementum tristique neque sollicitudin,
    magna vulputate ridiculus faucibus mus mattis facilisis curae. Interdum lacus
    integer posuere nascetur vestibulum etiam commodo, placerat imperdiet aliquam
    auctor dignissim nulla varius facilisi, conubia lacinia tempus mus malesuada orci.
    Lorem ipsum dolor sit amet consectetur adipiscing elit massa sagittis,
    habitasse pulvinar tincidunt lacinia elementum tristique neque sollicitudin,
    magna vulputate ridiculus faucibus mus mattis facilisis curae. Interdum lacus
    integer posuere nascetur vestibulum etiam commodo, placerat imperdiet aliquam
    auctor dignissim nulla varius facilisi, conubia lacinia tempus mus malesuada orci.
</p>
