@{
    ViewBag.Title = "Contact";
}

    <div class="jumbotron" style="background-color: cornflowerblue; color: white; margin-top: 20px;">
        <div class="container-fluid">
            <h1>Contact Us</h1>
        </div>
    </div>

<hr />
<address>
    <strong>Address:</strong><br />
    Western Oregon University<br />
    Monmouth, Oregon<br /><br />
    <strong>Phone:</strong> 425.555.0100<br />
    <strong>Email:</strong> support@wou.edu<br />
</address>