@{
    ViewBag.Title = "Contact";
}
<h2 style="padding-top: 20px;">Contact us</h2>
<hr />
<address>
    Western Oregon University<br />
    Monmouth, Oregon<br /><br />
    <strong>Phone:</strong> 425.555.0100<br />
    <strong>Email:</strong> support@wou.edu<br />
</address>