@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: cornflowerblue; color: white; margin-top: 20px;">
    <div class="container-fluid">
        <h1>Swim Tracker</h1>
        <p class="lead">Track your progress, optimize your team, view records, and improve your swimming with our performance tracker for swimmers.</p>
        <p><b>It is absolutely FOR REAL!!!!!!!!!!!!!!</b></p>
    </div>
</div>


<div class="row">
    <div class="col-8">
        <h2>Track Your Progress</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit massa sagittis, 
            habitasse pulvinar tincidunt lacinia elementum tristique neque sollicitudin, 
            magna vulputate ridiculus faucibus mus mattis facilisis curae. Interdum lacus 
            integer posuere nascetur vestibulum etiam commodo, placerat imperdiet aliquam 
            auctor dignissim nulla varius facilisi, conubia lacinia tempus mus malesuada orci.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <h2>View Public Records</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit massa sagittis,
            habitasse pulvinar tincidunt lacinia elementum tristique neque sollicitudin,
            magna vulputate ridiculus faucibus mus mattis facilisis curae. Interdum lacus
            integer posuere nascetur vestibulum etiam commodo, placerat imperdiet aliquam
            auctor dignissim nulla varius facilisi, conubia lacinia tempus mus malesuada orci.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <h2>Coaches: Optimize Your Team</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit massa sagittis,
            habitasse pulvinar tincidunt lacinia elementum tristique neque sollicitudin,
            magna vulputate ridiculus faucibus mus mattis facilisis curae. Interdum lacus
            integer posuere nascetur vestibulum etiam commodo, placerat imperdiet aliquam
            auctor dignissim nulla varius facilisi, conubia lacinia tempus mus malesuada orci.
        </p>
    </div>
</div>