@using Harmony.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<p></p>
<p></p>
<p></p><p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<div class="row" style="justify-content: center;">
    <div class="col-md-5 shadow p-3 mb-5 bg-white rounded">
        <h3>Please Sign-in/Register with Google or Facebook</h3>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
<div>
<div class="text-center">
    <img src="~/login.jpg" id="loginpic" />
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}



