@model Harmony.Models.ShowsViewModel

<div class="row">
    <div class="col-8 offset-2 shadow p-3 mb-5 bg-white rounded" style="margin-top: 40px;">
        @if (Model.VenueRated == 0)
        {
            <h3 id="form-title">Rate this experience with @Model.VenueName</h3>
            <hr />
            using (Html.BeginForm("Rate_User", "User", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <form>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rating" id="star1-radio" runat="server" value="option1" />
                                    <label class="form-check-label" for="star1">Horrible</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rating" id="star2-radio" runat="server" value="option2" />
                                    <label class="form-check-label" for="star2">Poor</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rating" id="star3-radio" runat="server" value="option3" />
                                    <label class="form-check-label" for="star3">Okay</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rating" id="star4-radio" runat="server" value="option4" />
                                    <label class="form-check-label" for="star4">Great</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rating" id="star5-radio" runat="server" value="option5" />
                                    <label class="form-check-label" for="star5">Awesome</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
        @if (Model.VenueRated != 0)
        {
            <h3>You've rated this experience</h3>
        }
        @Html.ActionLink("Return to shows", "MyShows", new { id = Model.MusicianID })
    </div>
</div>